@font-face {
  font-family: Creato;
  font-style: normal;
  font-weight: 400; /* Assuming 'Regular' is weight 400 */
  font-display: swap;
  src: url("/src/assets/fonts/creato_display/CreatoDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: Creato-Light;
  font-style: normal;
  font-weight: 300; /* 'Light' is typically weight 300 */
  font-display: swap;
  src: url("/src/assets/fonts/creato_display/CreatoDisplay-Light.otf") format("opentype");
}

@import "tailwindcss";
@tailwind utilities;

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@theme {
  --font-creato: Creato, "sans-serif";
  --font-creato-light: Creato-Light, "sans-serif";
}


:root {
  font-family: Creato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.5;
  font-weight: 400;

  color-scheme: light dark;
  /* Light mode by default */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode styles */
html.dark {
  color: rgba(255, 240, 230, 0.87);
  background-color: #181818;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

html.dark a:hover {
  color: #393939 !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
}

.btn {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.btn:hover {
  transform: scale(1.05);
  color: #434343;
}

.btn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #181818;
  transform-origin: bottom right;
  transition: transform 0.20s ease-out;
}

.btn:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dark-btn {
  transition: rotate 0.5s ease-out, transform 0.2s ease-out;
}

#dark-mode-btn:hover .dark-btn:hover {
  transform: scale(1.25);
  rotate: 25deg;
}

.dark-border:hover {
  border-style: dashed;
  border-color: currentColor;
}

h1 {
  font-size: 1.5em;
  line-height: 1.3;
}

.home {
  background-image: url('/src/assets/images/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  line-height: 1.625;
}
